name: logtheus
services:
   pg:
      image: postgres:17
      restart: unless-stopped
      container_name: postgres_logtheus
      environment:
         - POSTGRES_USER=${POSTGRES_USER}
         - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
         - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      volumes:
         - pg_data:/var/lib/postgresql/data
      ports:
         - 5432:5432
      networks:
         - net
volumes:
   pg_data:
networks:
   net:
